* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 10px;
}

header.main {
    width: 100%;
    padding: 0 15px !important;
}

header.main,
section.content,
.wrapper > footer,
aside.sub-menu,
aside.users {
    margin: 10px auto;
    padding: 15px;

    border: 1px solid #cccccc;
    border-radius: 5px;
    box-shadow: 0 0 12px rgba(0, 0, 0, .175);
}

section.content,
.wrapper > footer {
    width: 70%;
    float: left;
}

aside.sub-menu,
aside.users {
    width: 25%;
    float: right;
}

aside.sub-menu a {
    display: block;
}

aside.users img {
    padding: 5px;
    width: 33.3333%;
    float: left;
}

header.main .logo {
    color: #708B99;
    text-decoration: none;
    line-height: 50px;
    font-family: cursive;
    font-weight: bold;
    font-size: 30px;
}

header.main .main-menu {
    float: right;
}

header.main .main-menu li {
    display: block;
    float: left;
    list-style: none;
}

header.main .main-menu li a {
    display: block;
    padding: 0 15px;

    line-height: 50px;
    text-decoration: none;
    color: #8791A9;
    font-family: monospace;
    font-size: 20px;
}

header.main .main-menu li a:hover {
    background-color: #f5f5f5;
}

header.main .main-menu ul ul {
    display: none;
    position: absolute;
    overflow: hidden;

    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-top: none;
    border-radius: 0 0 5px 5px;
    box-shadow: 3px 3px 2px rgba(0, 0, 0, .175);
}

header.main .main-menu ul ul li {
    float: none;
}

header.main li:hover > ul {
    display: block;

    animation-name: drop-down;
    animation-duration: 1.4s;
    animation-timing-function: ease;
}

@keyframes drop-down {
    0% {
        opacity: 0;
        max-height: 0px;
    }
    50% {
        opacity: 1;
    }
    100% {
        max-height: 500px;
    }
}

@media screen and (max-width: 775px) {
    header.main .main-menu {
        float: none;
        width: 100%;
    }

    header.main .main-menu > ul > li {
        float: none;
    }

    section.content,
    aside.sub-menu,
    aside.users,
    .wrapper > footer {
        width: 100%;
        float: none;
    }

    aside.users img {
        width: 75px;
        float: none;
    }
}




